@model Digbyswift.InterviewDec2023.UI.BuissnessLogic.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Staff List</h1>
    @if (Model.FirstStaff.Id != -1)
    {
    <p>Select to load <select>
    @foreach (var item in Model.ListStaff)
            {
                <option id="@item.Id"> @item.FullName </option>
            }
            </select></p>
    }

    else
    {
        <p>
            Select to load
            <select disabled>
                @foreach (var item in Model.ListStaff)
                {
                    <option id="@item.Id"> @item.FullName </option>
                }
            </select>
        </p>
    }

    <div id="staff-container">
       <p id="ID"> @Model.FirstStaff.Id </p>
        <p id="FullName"> @Model.FirstStaff.FullName </p>
        <p id="Email"> @Model.FirstStaff.Email </p>
        <p id="JobTitle"> @Model.FirstStaff.JobTitle </p>
        <p id="Likes"> @Model.FirstStaff.Likes </p>

    </div>
</div>